<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ng-click</title>
        <script src="../angular-1.5.8/angular.js"></script>
        <style>
			.c {
				background-color: #000;
			}
        </style>
    </head>
    <body ng-app="mainApp" ng-controller="mainController" ng-class="{ c: btn == '关' }">
    <div>
    <button ng-click="val=!val">点击修改</button>
    <div>{{val}}</div>
    <button ng-click=" btn = btn === '关' ?  '开' : '关' ">{{ btn }}</button>
	</div>
	
    <script>
    angular.module( "mainApp", [] )

    	.controller( "mainController", function ($scope) {

    		$scope.btn = '关';

    		$scope.val = true;

    		

    	})
    </script>
    </body>
</html>