<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>使用ng-repeat生成列表</title>
        <script src="../angular-1.5.8/angular.js"></script>
    </head>
    <body ng-app="mainApp" ng-controller="mainController">
    	<ul>
    		<li ng-repeat="item in list">

    		<a href="#" ng-click="isShow=!isShow">{{item.name}}</a>

			     <ul ng-show="isShow">

			     <li ng-repeat="subitem in item.submenu"><a href="#">{{subitem}}</a></li>

			     </ul>

    		</li>
    	</ul>
    </body>
    <script>
    angular.module( "mainApp", [] )
    	.controller( "mainController", function ( $scope ) {

    		var menu = [
    		{name:'主菜单1', submenu:['子菜单1','子菜单2','子菜单3','子菜单4']},
    		{name:'主菜单2', submenu:['子菜单1','子菜单2','子菜单3','子菜单4','子菜单5']},
    		{name:'主菜单3', submenu:['子菜单1','子菜单2']},
    		{name:'主菜单4', submenu:['子菜单1','子菜单2']},
    		{name:'主菜单5', submenu:['子菜单1','子菜单2']},
    		{name:'主菜单6', submenu:['子菜单1','子菜单2']},
    		{name:'主菜单7', submenu:['子菜单1','子菜单2']},
    		];

    		$scope.list = menu;

    	})

    </script>
</html>