<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="../angular-1.5.8/angular.js"></script>
        <title></title>
    </head> 
    <body ng-app="mainApp">
    	<div ng-controller="mainController">
            <my-directive></my-directive>
            <my-directive></my-directive>
       		<input type="text" ng-model="txt"><br>
       		<input type="text" ng-model="txt">

    	</div>
    </body>
    <script>
    angular.module( "mainApp",[] )
    	.directive( "myDirective", function () {

    		return {
    			restrict: "E",
    			templateUrl:"./12tmp.html",
    			// scope:true //继承
                scope:true, //独立作用域不继承
                replace:true, //是否替换容器标签
                controller:"ctl"
               
    		}
    	})
    	.controller( 'mainController', function ( $scope ) {
    		$scope.txt="李雷";
    	})
    	.controller( "ctl", function ( $scope ) {
    		$scope.txt="韩梅梅";
    	})
    </script>
</html>